<?xml version="1.0" encoding="utf-8" ?>
<uexplugins>
        <plugin name="uexXmlHttpMgr">
        <method name="open" sync="true"></method>
        <method name="send"></method>
        <method name="setBody" sync="true"></method>
        <method name="setHeaders" sync="true"></method>
        <method name="setPostData" sync="true"></method>
        <method name="setAppVerify" sync="true"></method>
        <method name="setInputStream" sync="true"></method>
        <method name="setCertificate" sync="true"></method>
        <method name="close" sync="true"></method>
        <method name="getCookie" sync="true"></method>
        <method name="clearCookie" sync="true"></method>
        <method name="setDebugMode"></method>
    </plugin>
</uexplugins>
